.header {
    background-color: aqua;
    height: 80px;
    display: flex;
    align-items: center;
}

.header__link {
    color: rgb(3, 11, 48);
    font-size: 22px;

    &:hover {
      color: rgb(44, 71, 190); 
    }

    &:first-child {
        margin: 0 20px;
    }
}

.active {
    color: rgb(44, 71, 190); 
}
